
body{
  font-family: Arial, sans-serif;
  background: url('back.jpg');
}

table{
    border-collapse: collapse;
    border: 5px solid rgb(247, 243, 243);
    height: 600px;
    width: 800px;
    
    color: white;
  }
  tr,td,th{
    border-collapse: collapse;
    border: 2px solid rgb(244, 239, 239);
    text-align: center;
    
  }
  

  